#backend
/backend/node_modules
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/vendor
/backend/.env
/backend/.env.backup
/backend/.phpunit.result.cache
/backend/Homestead.json
/backend/Homestead.yaml
/backend/npm-debug.log
/backend/yarn-error.log
#----------------------------------------------------------------------------
#frontend
# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/frontend/dist/
/frontend/tmp/

# dependencies
/frontend/bower_components/
/frontend/node_modules/

# misc
/frontend/.env*
/frontend/.pnp*
/frontend/.sass-cache
/frontend/connect.lock
/frontend/coverage/
/frontend/libpeerconnection.log
/frontend/npm-debug.log*
/frontend/testem.log
/frontend/yarn-error.log

# ember-try
/frontend/.node_modules.ember-try/
/frontend/bower.json.ember-try
/frontend/package.json.ember-try
