#backend
/backend/node_modules
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/vendor
/backend/.env
/backend/.env.backup
/backend/.phpunit.result.cache
/backend/Homestead.json
/backend/Homestead.yaml
/backend/npm-debug.log
/backend/yarn-error.log
#----------------------------------------------------------------------------
#front
# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/front/dist/
/front/tmp/

# dependencies
/front/bower_components/
/front/node_modules/

# misc
/front/.env*
/front/.pnp*
/front/.sass-cache
/front/connect.lock
/front/coverage/
/front/libpeerconnection.log
/front/npm-debug.log*
/front/testem.log
/front/yarn-error.log

# ember-try
/front/.node_modules.ember-try/
/front/bower.json.ember-try
/front/package.json.ember-try
